
  <h1 id="main-title">WELCOME TO THE </h1>

<div class="home-container">

  <img id="main-interknit" src="/assets/interknit_title.png">

  <h3 id="tag-line">Where Everyone Can Learn to Knit</h3>

  <h4 id="projects-title">Available Projects</h4>



  <% @projects.each do | project | %>

  <div class="here-are-projects">
    <ul class="projects_list">
      <li class="project-list-item"><%= image_tag(project.image, height: '300')%></li>
    </ul>
  </div>  

  <% end %>
</div>   

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


