.project-title {
  background-color: orange;
  padding: 2px;
  width: 100%;
}

.modal-level {
  font-size: 18px;
  padding: 1px;
}

.modal-title {
  margin: 0px;
}

.navbar-header {
  margin-top: 0px;
  width: 400px;
  height: 100%;
  position: absolute;
  right: 0px;
  background-color: orange;
  padding: 10px;
}

#projectOverview {
  text-align: center;
  line-height: center;
  padding: 1px;
  font-size: 22px;
  background-color: white
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.nav-list-show {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.show-page-nav-item {
  display: inline;
  padding: 50px;
}
