
.navbar-header {
  width: 200px;
  height: 100%;
  position: absolute;
  right: 0px;
  background-color: rgba(0, 0, 0, .5);
}

#hide-button {
  border: none;
  font-size: 25px;
  width: 30px;
}

#show-button {
  border: none;
  font-size: 25px;
  width: 30px; 
  position: absolute;
  right: 0px; 
}
